In [ ]:
psql -U nome_do_usuario -d nome_do_banco

CREATE DATABASE agenda_telefonica;

\c agenda_telefonica;

CREATE TABLE pessoas (
    id_pessoa SERIAL PRIMARY KEY,
    nome VARCHAR NOT NULL,
    idade INTEGER NOT NULL
);

CREATE TABLE telefones (
    id_telefone SERIAL PRIMARY KEY,
    telefone VARCHAR UNIQUE NOT NULL,
    id_pessoa INTEGER REFERENCES pessoas(id_pessoa) NOT NULL
);

DELETE FROM pessoas WHERE id_pessoa = 1;

DELETE FROM telefones WHERE id_telefone = 1;

DROP TABLE pessoas;
DROP TABLE telefones;

DROP SCHEMA public CASCADE;
CREATE SCHEMA public;

DROP DATABASE agenda_telefonica;


INSERT INTO pessoas (nome, idade) VALUES
    ('Venus', 18),
    ('Ashley', 18),
    ('Claire', 22),
    ('Sherry', 12),
    ('Jill', 23);

INSERT INTO telefones (telefone, id_pessoa) VALUES
    ('111-1111', 1), 
    ('222-2222', 2), 
    ('333-3333', 2),
    ('444-4444', 3), 
    ('555-5555', 5);


INSERT INTO pessoas (nome, idade) VALUES
    ('Laura', 26);


DELETE FROM telefones
WHERE id_pessoa = 1;

DELETE FROM pessoas
WHERE nome = 'Laura';


ON DELETE CASCADE

DELETE FROM telefones
WHERE id_pessoa = 1;

DELETE FROM pessoas
WHERE id_pessoa = 1;


CREATE TABLE telefones (
    id_telefone SERIAL PRIMARY KEY,
    telefone VARCHAR UNIQUE NOT NULL,
    id_pessoa INTEGER REFERENCES pessoas(id_pessoa) ON DELETE CASCADE NOT NULL
);