4.1 Crie, via terminal, uma base de dados chamada agenda_telefonica.

In [ ]:
psql -U postgres

CREATE DATABASE agenda_telefonica;

\c agenda_telefonica;

4.2 As tabelas e
suas colunas são descritas na figura abaixo. Todos os campos de todas as tabelas
não podem ser nulos. Além disso, a coluna telefone da tabela Telefones deve
conter valores únicos. Escolha o tipo das colunas, mas tenha em mente a
justificativa da escolha deles.

<img src="sql-1.jpg">

In [ ]:
CREATE TABLE pessoas (
    id_pessoa SERIAL PRIMARY KEY,
    nome VARCHAR NOT NULL,
    idade INTEGER NOT NULL
);

CREATE TABLE telefones (
    id_telefone SERIAL PRIMARY KEY,
    telefone VARCHAR UNIQUE NOT NULL,
    id_pessoa INTEGER REFERENCES pessoas(id_pessoa) NOT NULL
);

5. Insira cinco pessoas, sendo duas delas com mais de um telefone cadastrado e
uma que não possui telefone cadastrado.

In [ ]:
INSERT INTO pessoas (nome, idade) VALUES
    ('Venus', 18),
    ('Ashley', 18),
    ('Claire', 22),
    ('Sherry', 12),
    ('Jill', 23);

INSERT INTO telefones (telefone, id_pessoa) VALUES
    ('11111', 1), 
    ('22222', 2), 
    ('33333', 2),
    ('44444', 3), 
    ('55555', 4);

6. Delete o telefone ou um dos telefones da primeira pessoa cadastrada.

In [ ]:
DELETE FROM telefones
WHERE id_pessoa = 1;

7. Delete a pessoa que não possui telefone cadastrado.

In [ ]:
DELETE FROM pessoas
WHERE nome = 'Jill';

8. Delete uma pessoa que possui algum telefone cadastrado. Caso tenha obtido
algum erro, explique o motivo e como fez para contornar. Posteriormente,
pesquise sobre a palavra reservada do SQL ON DELETE e explique para que serve
e as opções que ela possui.

In [ ]:
DELETE FROM telefones
WHERE id_pessoa = 1;

DELETE FROM pessoas
WHERE id_pessoa = 1;

ON DELETE significa que a ação referencial será executada quando um registro for excluído da tabela pai, e ON UPDATE indica que a ação referencial será executada quando um registro for modificado na tabela pai.

As principais opções para as ações referenciais são as seguintes:

CASCADE: A opção CASCADE permite excluir ou atualizar os registros relacionados presentes na tabela filha automaticamente, quando um registro da tabela pai for atualizado (ON UPDATE) ou excluído (ON DELETE). É a opção mais comum aplicada.

RESTRICT: Impede que ocorra a exclusão ou a atualização de um registro da tabela pai, caso ainda hajam registros na tabela filha. Uma exceção de violação de chave estrangeira é retornada. A verificação de integridade referencial é realizada antes de tentar executar a instrução UPDATE ou DELETE

SET NULL: Esta opção é usada para definir com o valor NULL o campo na tabela filha quando um registro da tabela pai for atualizado ou excluído.

NO ACTION: Essa opção equivale à opção RESTRICT, porém a verificação de integridade referencial é executada após a tentativa de alterar a tabela. É a opção padrão, aplicada caso nenhuma das opções seja definida na criação da chave estrangeira.

SET DEFAULT: “Configura Padrão” – Define um valor padrão na coluna na tabela filha, aplicado quando um registro da tabela pai for atualizado ou excluído.

In [ ]:
CREATE TABLE telefones (
    id_telefone SERIAL PRIMARY KEY,
    telefone VARCHAR UNIQUE NOT NULL,
    id_pessoa INTEGER REFERENCES pessoas(id_pessoa) ON DELETE CASCADE NOT NULL
);

1. Como deleto um registro específico de uma tabela? E todos os registros de uma
vez?

In [ ]:
DELETE FROM pessoas WHERE id_pessoa = 1;
DELETE FROM pessoas;

DELETE FROM telefones WHERE id_telefone = 1;
DELETE FROM telefones;

2. Como deleto uma tabela específica? E todas as tabelas de uma vez?

In [ ]:
DROP TABLE pessoas;
DROP TABLE telefones;

In [ ]:
DO $$ 
DECLARE
    tabela_atual text;
BEGIN
    FOR tabela_atual IN ('pessoas', 'telefones')
    LOOP
        EXECUTE 'DROP TABLE IF EXISTS ' || tabela_atual || ' CASCADE';
    END LOOP;
END $$;

3. Como deleto uma base de dados específica?

In [ ]:
DROP DATABASE agenda_telefonica;

Kill Them All - Remove todo o esquema "public"

<img src="Kill-Them-All.jpg">

In [ ]:
DROP SCHEMA public CASCADE;
CREATE SCHEMA public;