Notas de Aula

In [ ]:
SELECT * FROM pessoas LEFT JOIN telefones ON telefones.id_pessoa = pessoas.id_pessoa;

In [ ]:
SELECT p.*, t.id_pessoa FROM pessoas AS p JOIN telefones AS t ON p.id_pessoa = t.id_pessoa GROUP BY p.id_pessoa, p.nome, p.idade, t.id_pessoa;

In [ ]:
SELECT p.*, t.id_pessoa, COUNT(p.id_pessoa) AS "Quantidade" FROM pessoas AS p JOIN telefones AS t ON p.id_pessoa = t.id_pessoa GROUP BY p.id_pessoa, p.nome, p.idade, t.id_pessoa;

In [ ]:
SELECT pessoas.*, telefones.id_pessoa, COUNT(pessoas.id_pessoa) FROM pessoas JOIN telefones ON pessoas.id_pessoa = telefones.id_pessoa GROUP BY pessoas.id_pessoa, pessoas.nome, pessoas.idade, telefones.id_pessoa;

In [ ]:
 SELECT pessoas.*, telefones.id_pessoa, COUNT(pessoas.id_pessoa) FROM pessoas JOIN telefones ON pessoas.id_pessoa = telefones.id_pessoa GROUP BY pessoas.id_pessoa, pessoas.nome, pessoas.idade, telefones.id_pessoa ORDER BY count;

In [ ]:
TRUNCATE TABLE pessoas, telefones;

1. Use uma consulta de inserção para inserir os seguintes registros:

Calisto Silva, 30 anos, telefones: 40028922, 40068966 e 40078977

Allan Silva, 25, telefone: 40038933

David Dauli, 28, telefone: 40048944

Adailton Aveiro, 17, telefones: 40058955 e 40088988

In [ ]:
INSERT INTO pessoas (nome, idade)
VALUES  ('Calisto Silva', 30), ('Allan Silva', 25), ('David Dauli', 28), ('Adailton Aveiro', 17);

INSERT INTO telefones (telefone, id_pessoa)
VALUES ('40028922', 1), ('40068966', 1), ('40078977', 1), ('40038933',2), ('40058955', 3), ('40088988', 3);

2. Use uma consulta de seleção para recuperar todas as linhas da tabela pessoas.

In [ ]:
SELECT * FROM pessoas;

3. Use uma consulta de seleção para recuperar apenas os nomes das pessoas.

In [ ]:
SELECT nome FROM pessoas;

4. Use uma consulta de seleção para recuperar a soma, a média, a menor e a maior
idade das pessoas. Nomeie as colunas resultantes da consulta de forma que
fique claro o que são seus valores.

In [ ]:
SELECT
    SUM(idade) AS soma_idades,
    AVG(idade) AS media_idades,
    MIN(idade) AS menor_idade,
    MAX(idade) AS maior_idade
FROM pessoas;

5. Use uma consulta de seleção para recuperar todas as pessoas cujo nome começa
com a letra 'A'.

In [ ]:
SELECT * FROM pessoas WHERE nome LIKE 'A%';

6. Use uma consulta de seleção para recuperar todos as pessoas cujo nome tenha a
substring 'av', não importando se as letras estarão em caixa alta ou em caixa
baixa.

In [ ]:
SELECT * FROM pessoas WHERE nome ILIKE '%av%';

7. Use uma consulta de seleção para recuperar todas as pessoas cuja idade é maior
ou igual a 25.

In [ ]:
SELECT * FROM pessoas WHERE idade >= 25;

9. Use uma consulta de atualização para adicionar 5 anos à idade de todas as
pessoas.

In [ ]:
UPDATE pessoas SET idade = idade + 5;

10. Use uma consulta de atualização para adicionar 2 anos à idade de uma pessoa
específica. Justifique o atributo que escolheu para selecionar a pessoa em
questão.

In [ ]:
UPDATE pessoas SET idade = idade + 2 WHERE id_pessoa = 1;

11. Use uma consulta de exclusão para remover uma pessoa específica. Justifique o
atributo que escolheu para selecionar a pessoa em questão.

In [ ]:
DELETE FROM pessoas WHERE id_pessoa = 5;

12. Crie uma consulta de seleção para recuperar o nome, idade e a quantidade de
números de telefones de todas as pessoas que possuem mais de 24 anos. O
resultado também deve ser mostrado de maneira decrescente por idade.

In [ ]:
SELECT
    pessoas.nome,
    pessoas.idade,
    COUNT(telefones.id_telefone) AS quantidade_telefones
FROM
    pessoas
JOIN
    telefones ON pessoas.id_pessoa = telefones.id_pessoa
WHERE
    pessoas.idade > 24
GROUP BY
    pessoas.id_pessoa, pessoas.nome, pessoas.idade
ORDER BY
    pessoas.idade DESC;

13. Crie uma consulta de seleção que mostre os registros da tabela Pessoas de
maneira paginada. Cada página deve mostrar apenas 2 registros. Tente pensar
em uma lógica imaginando que você receberá um número que representa a
página e você só poderá alterar esse número na consulta.

In [ ]:
SELECT * FROM pessoas ORDER BY id_pessoa LIMIT 2 OFFSET ((2 - 1) * 2);

14. Pesquise sobre a funcionalidade HAVING que pode ser utilizada em parceria com
o GROUP BY. Em seguida, explique o que essa palavra reservada faz, qual a
diferença dela para o WHERE e exemplifique uma situação que ela pode ser
utilizada.

In [ ]:
SELECT
    pessoas.id_pessoa,
    pessoas.nome,
    pessoas.idade,
    COUNT(telefones.id_telefone) AS quantidade_telefones
FROM
    pessoas
JOIN
    telefones ON pessoas.id_pessoa = telefones.id_pessoa
GROUP BY
    pessoas.id_pessoa, pessoas.nome, pessoas.idade
HAVING
    COUNT(telefones.id_telefone) > 1;