In [ ]:
SELECT * FROM pessoas LEFT JOIN telefones ON telefones.id_pessoa = pessoas.id_pessoa;

In [ ]:
SELECT p.*, t.id_pessoa FROM pessoas AS p JOIN telefones AS t ON p.id_pessoa = t.id_pessoa GROUP BY p.id_pessoa, p.nome, p.idade, t.id_pessoa;

In [ ]:
SELECT p.*, t.id_pessoa, COUNT(p.id_pessoa) AS "Quantidade" FROM pessoas AS p JOIN telefones AS t ON p.id_pessoa = t.id_pessoa GROUP BY p.id_pessoa, p.nome, p.idade, t.id_pessoa;

In [ ]:
SELECT pessoas.*, telefones.id_pessoa, COUNT(pessoas.id_pessoa) FROM pessoas JOIN telefones ON pessoas.id_pessoa = telefones.id_pessoa GROUP BY pessoas.id_pessoa, pessoas.nome, pessoas.idade, telefones.id_pessoa;