In [ ]:
SELECT * FROM pessoas LEFT JOIN telefones ON telefones.id_pessoa = pessoas.id_pessoa;

In [ ]:
SELECT p.*, t.id_pessoa FROM pessoas AS p JOIN telefones AS t ON p.id_pessoa = t.id_pessoa GROUP BY p.id_pessoa, p.nome, p.idade, t.id_pessoa;

In [ ]:
SELECT p.*, t.id_pessoa, COUNT(p.id_pessoa) AS "Quantidade" FROM pessoas AS p JOIN telefones AS t ON p.id_pessoa = t.id_pessoa GROUP BY p.id_pessoa, p.nome, p.idade, t.id_pessoa;

In [ ]:
SELECT pessoas.*, telefones.id_pessoa, COUNT(pessoas.id_pessoa) FROM pessoas JOIN telefones ON pessoas.id_pessoa = telefones.id_pessoa GROUP BY pessoas.id_pessoa, pessoas.nome, pessoas.idade, telefones.id_pessoa;

In [ ]:
 SELECT pessoas.*, telefones.id_pessoa, COUNT(pessoas.id_pessoa) FROM pessoas JOIN telefones ON pessoas.id_pessoa = telefones.id_pessoa GROUP BY pessoas.id_pessoa, pessoas.nome, pessoas.idade, telefones.id_pessoa ORDER BY count;

1. Use uma consulta de inserção para inserir os seguintes registros:

Calisto Silva, 30 anos, telefones: 40028922, 40068966 e 40078977

Allan Silva, 25, telefone: 40038933

David Dauli, 28, telefone: 40048944

Adailton Aveiro, 17, telefones: 40058955 e 40088988

In [ ]:
UPDATE pessoas
SET nome = Calisto Silva, idade = 30

2. Use uma consulta de seleção para recuperar todas as linhas da tabela pessoas.